[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
strands-agents = "*"
strands-agents-tools = "*"
pymongo = "*"
playwright = "*"
requests = "*"
pydantic = "*"
boto3 = "*"
bedrock-agentcore = "*"

[dev-packages]

[requires]
python_version = "3.11"
